<!DOCTYPE html>
<html>
    <body>

        <form method="POST" action="/ascii-art">

        <h1>Ascii-Art-Web</h1>

<textarea name="text">{{.Text}}</textarea>
       <select name="banner">
    <option value="standard" {{if eq .Banner "standard"}}selected{{end}}>standard</option>
    <option value="shadow" {{if eq .Banner "shadow"}}selected{{end}}>shadow</option>
    <option value="thinkertoy" {{if eq .Banner "thinkertoy"}}selected{{end}}>thinkertoy</option>
</select>
            <button type="submit">Generate</button>
        <pre>{{.Result}}</pre>


        </form>
    </body>

</html>